body,
html {
  font-family: Arial;
}

.center {
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-evenly;
}

.json_viewer {
  border: 1px solid black;
  width: 50%;
  height: 70vh;
  align-self: flex-end;
  overflow: auto;
}

.json_collector {
  width: 50%;
  height: 70vh;
}

.button {
  padding: 15px 32px;
  margin: 4px 2px;
  border: none;
  font-size: 18px;
  color: #fff;
  height: 50px;
  width: 200px;
  background-color: #0d745f;
}

.button:disabled {
  background-color: #ace4d9;
}

textarea {
  resize: none;
  width: 97%;
  height: 100%;
}
